@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto&display=swap');

:root {
    box-sizing: border-box;
    font-size: 1em;
    --main-gold: #BDAE82;
    --main-dark: #000000;
    --main-light: #ffffff;
    --font-merriweather: 'Merriweather', serif;
    --font-roboto: 'Roboto', sans-serif;
}

*,
::before,
::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--main-dark);
}

h1 {
    font-size: 2.5rem;
    color: var(--main-gold);
    font-family: var(--font-merriweather);
}

.wrapper {
    height: 100vh;
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video-container {
    padding: 5% 1.5em 2em;
    text-align: center;
}

.title {
    height: 100px;
    display: inline-block;
    width: 50%;
    background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
    text-align: center;
    padding: 0.5em 0;
}

.title__text {
    display: inline-block;
    width: 140px;
    background-color: var(--main-dark);
}

/*---------------player-------------------------------------------*/
.player-wrapper {
    max-width: 1400px;
    padding-top: 2em;
}

.player {
    position: relative;
    border: solid 2px;
    border-color: var(--main-gold);
}

.player__video {
    width: 100%;
    position: relative;
    z-index: 10;
    margin-bottom: -0.2em;
}

.player__controls {
    position: absolute;
    top: 5%;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em 0.5em 0.3em;
}

.progress {
    flex: 10;
    position: relative;
    display: flex;
    height: 12px;
    border: solid 2px var(--main-gold);
    background-color: var(--main-light);
}

.progress__line {
    width: 50%;
    background: var(--main-gold);
    flex: 0;
    flex-basis: 0%;
}

.video-time {
    flex: auto;
    color: var(--main-light);
    font-family: var(--font-roboto);
}

/*.slider {*/
/*    position: absolute;*/
/*    left: 0%;*/
/*    top: -10px;*/
/*    display: inline-block;*/
/*    text-align: right;*/
/*    border: 1px solid #000000;*/
/*    height: 30px;*/
/*    width: 8px;*/
/*    border-radius: 2px;*/
/*    background: var(--main-light);*/
/*    cursor: pointer;*/
/*    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
/*}*/
.player__slider {
    flex: 1.5;
    height: 12px;
    width: calc(0.5em + 10px);
    background: linear-gradient(to right, var(--main-gold) 0%, var(--main-gold) 40%, #fff 40%, #fff 100%);
    border: solid 2px var(--main-gold);
    -webkit-appearance: none;
}

.player__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 30px;
    width: 8px;
    border-radius: 2px;
    background: var(--main-light);
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.change_color:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    transition: all 0.2s;
}

/*---------------buttons--------------------------*/
.main-button {
    z-index: 99;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -65px;
    margin-top: -65px;
    width: 130px;
    height: 130px;
    background-image: url("../../custom-video/assets/svg/play-btn.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
}

.player__button {
    padding: 0.3em;
    flex: 1;
    border: 0;
    background-color: var(--main-dark);
    background-position: center;
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.toggle-video {
    background-image: url("../../custom-video/assets/svg/play.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}

.toggle-volume {
    background-image: url("../../custom-video/assets/svg/volume.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}

.player-fullscreen {
    background-image: url("../../custom-video/assets/svg/fullscreen.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}

/*---------------footer---------------------------------------------*/
.footer {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-item {
    font-size: 1.2rem;
    padding: 0.5em;
    text-align: center;
    color: var(--main-gold);
}

.my-github-link {
    height: 32px;
    filter: invert(70%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.rs-school-icon {
    width: 80px;
    filter: invert(70%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

