@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

:root {
    box-sizing: border-box;
    font-size: 1em;
    --main-gold: #BDAE82;
    --main-dark: #000000;
    --font-merriweather: 'Merriweather', serif;
}

*,
::before,
::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--main-dark);
}

h1 {
    font-size: 2.5rem;
    color: var(--main-gold);
    font-family: var(--font-merriweather);
}

.wrapper {
    min-height: 100vh;
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video-container {
    padding: 2em 1.5em;
    text-align: center;
}

.title {
    height: 100px;
    display: inline-block;
    width: 50%;
    background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
    text-align: center;
    padding: 0.5em 0;
}

.title__text {
    display: inline-block;
    width: 140px;
    background-color: var(--main-dark);
}

/*---------------player-------------------------------------------*/
.player-wrapper {
    max-width: 1400px;
    padding-top: 2em;
}

.player {
    border: solid 2px;
    border-color: var(--main-gold);
}

.player__video {
    width: 100%;
}

.player__controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
}

.player__slider {
    height: 12px;
    width: 200px;
    background: linear-gradient(to right, var(--main-gold) 0%, var(--main-gold) 40%, #fff 40%, #fff 100%);
    border: solid 2px var(--main-gold);
    -webkit-appearance: none;
}
.player__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 30px;
    width: 12px;
    border-radius: 2px;
    background: white;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

/*---------------buttons--------------------------*/
.player__button {
    border: 0;
    background-color: var(--main-dark);
    height: 40px;
    width: 40px;
}

.switch-video {
    background-image: url("../assets/svg/play.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.switch-mute {
    background-image: url("../assets/svg/volume.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.player-fullscreen {
    background-image: url("../assets/svg/fullscreen.png");
    background-size: contain;
    background-repeat: no-repeat;
}


/*---------------layout for control player--------------------------*/


/*---------------footer---------------------------------------------*/
.footer {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-item {
    font-size: 1.2rem;
    padding: 0.5em;
    text-align: center;
    color: var(--main-gold);
}

.my-github-link {
    height: 2em;
    filter: invert(70%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.rs-school-icon {
    width: 5em;
    filter: invert(70%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

